body {
    font-family: 'Noto Sans KR', sans-serif;
}

.menu {
    padding: 5px;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.item {
    background-color: #9933ff;
    color: white;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

.row1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1px;
}

img {
    height: 200px;
    text-align: center;
}

.row2 {
    display: flex;
    justify-content: flex-start;
}

.profilepic {
    border: 8px double #9933ff;
    padding: 6px;
    border-radius: 50%;
    height: 125px;
}

.row4 {
    background-color: #bf80ff;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
}

.followers {
    padding: 6px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.content {
    margin: 5px;
    padding: 10px;
    border: 3px dotted black;
}

.tagged {
    margin: 5px;
    padding: 10px;
}